.device-list li > a {
  padding: 15px 20px;
  color: #676a6c;
  display: block;
}

.device-list li a:hover, .device-list li a:focus {
  background-color: #f5f5f5;
  color: @navy;
}

.device-list li.active {
  background: #fff;
  border: none;
}
.device-list li.active > a {
  color: @navy;
}
.device-list .navbar-right {
  margin-right: 10px;
}

.device-list{
  box-shadow: none;
  border: 1px solid #e7eaec;
}

.device-list li > a {
  margin: 0;
  padding: 7px 20px;
}

.device-list {
  margin-top: 0px;
  width: 100%;
  position: static;
  display: block;
  float: none;
}

.device-list li > a, .device-list {
  padding: 10px 15px 10px 20px;
}

.empty-bg{
    position: relative;
    text-align: center;
    padding-top: 20%;
    color: #C1C1C1
}

.offline{
   -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    
    filter: grayscale(100%);
  
    filter: gray;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #e7eaec;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: middle;
}