<div class="ibox-content">

    <h4> 完成填写剩余信息:</h4>
    <form role="form" name="detailForm" novalidate ng-submit="signupForm2()">
        <div class="form-group">
            <label>Name</label>
            <input type="text" placeholder="Username" class="form-control" name="username2" ng-model="formDetails.name" ng-minlength="3" ng-maxlength="20" required>
            <div class="m-t-xs" ng-show="detailForm.username2.$invalid && detailForm.username2.$dirty">
                <small class="text-danger" ng-show="detailForm.username2.$error.required">Please input a username</small>
                <small class="text-danger" ng-show="detailForm.username2.$error.minlength">Your username is required to be at least 3 characters</small>
                <small class="text-danger" ng-show="detailForm.username2.$error.maxlength">Your username cannot be longer than 20 characters</small>
            </div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" placeholder="Enter email" class="form-control" name="email2" ng-model="email">
            <div class="m-t-xs" ng-show="detailForm.email2.$invalid && detailForm.email2.$dirty">
                <small class="text-danger" ng-show="detailForm.email2.$error">Please input a valid email address</small>
            </div>
        </div>
        <div class="form-group">
            <label>Website</label>
            <input type="url" placeholder="Enter your website address" class="form-control" name="website2" ng-model="website2">
            <div class="m-t-xs" ng-show="detailForm.website2.$invalid && detailForm.website2.$dirty">
                <small class="text-danger" ng-show="detailForm.website2.$error">Please input a valid url address (http://website.com)</small>
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" placeholder="***" class="form-control" name="password" ng-model="password2" required>
            <div class="m-t-xs" ng-show="detailForm.password2.$invalid && detailForm.password2.$dirty">
                <small class="text-danger" ng-show="detailForm.password2.$error.required">Please input a password</small>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-sm btn-primary" type="submit" ng-disabled="detailForm.$invalid"><strong>Submit form</strong></button>
        </div>
    </form>

</div>