<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-5 col-md-4">
        <h2>{{ 'WELCOME' | translate }}</h2>
        <small>latest searched reagent info</small>
        <ul class="list-group clear-list m-t">
            <li ng-repeat="reagent in latestSearchedReagent" class="list-group-item fist-item" >
                                <span class="pull-right">
                                    <strong>{{ reagent.gmt_visited.format('MM-dd hh:mm') }}</strong>
                                </span>
                <span class="label" ng-class="color[$index]">{{ $index }}</span> {{ reagent.name }}
            </li>
        </ul>
    </div>
</div>
